
body {
  padding-bottom: 70px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.padding {
  padding: 1em;
}

.margin {
  margin: 1em;
}